.c-text {
    @include responsive(font-size, $font-size-s, $font-size-s);
    color: $color-gray-dark;

    &--light {
        color: $color-gray-superlight;
    }

    &--success {
        color: #008f77;
    }

    &--danger {
        color: $color-danger;
    }

    &--center {
        text-align: center;
    }
}
