.p-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__status {
        color: coral;
        font-size: $font-size-xxl;
    }

    &__message {
        color: lightcoral;
        font-size: $font-size-base;
    }
}
