<section class='p-hero'>
    <div class='l-container p-hero__container'>
        <div class='p-hero__slogan' data-reveal='left'>
            <p class='p-hero__subtext'>Przewozy krajowe i międzynarodowe</p>
            <p class='p-hero__text'>Z nami <strong>zawsze</strong><br />dotrzesz do celu</p>
        </div>
        <div class='p-hero__img-container' data-reveal='right'><img class='p-hero__img' src='res/header-illustration.svg' /></div>
        <div class='p-hero__contact'>
            <div class='p-hero__phone-icon'></div>
            <p class='p-hero__phone'>608 673 554</p>
            <p class='p-hero__call'>Zadzwoń!</p>
        </div>
    </div>
</section>
<div class='l-section'>
    <div class='l-container'>
        <div class='l-grid l-grid--md2'>
            <img class='l-section__image' src='res/tripfamily.svg' alt='Podróżująca rodzina' data-reveal='left' />
            <div class='u-align-center' data-reveal='right'>
                <h1 class='c-heading'>Przewozy grupowe</h1>
                <p class='c-text u-mb-xs'>Oferujemy przewozy grup zorganizowanych oraz osób indywidualnych autobusami marki mercedes.</p>
                <p class='c-text'>W ofercie posiadamy busy 9, 19, 30 oraz autokary 50 osobowe</p>
            </div>
        </div>
    </div>
</div>
<div class='l-section l-section--dark'>
    <div class='l-container'>
        <div class='l-grid l-grid--2 l-grid--md4'>
            <div class='c-picker' data-reveal='left'>
                <img class='c-picker__icon c-picker__icon--first' src='res/picker.svg' alt='picker' />
                <p class='c-text c-text--light'>Wycieczki</p>
            </div>
            <div class='c-picker' data-reveal='left'>
                <img class='c-picker__icon c-picker__icon--second' src='res/picker.svg' alt='picker' />
                <p class='c-text c-text--light'>Wesela</p>
            </div>
            <div class='c-picker' data-reveal='right'>
                <img class='c-picker__icon c-picker__icon--third' src='res/picker.svg' alt='picker' />
                <p class='c-text c-text--light'>Szkolenia</p>
            </div>
            <div class='c-picker' data-reveal='right'>
                <img class='c-picker__icon c-picker__icon--fourth' src='res/picker.svg' alt='picker' />
                <p class='c-text c-text--light'>Transfery</p>
            </div>
        </div>
    </div>
</div>
<div class='l-section'>
    <div class='l-container p-interesting'>
        <div class='p-interesting__heading' data-reveal='left'>
            <h1 class='c-heading'>Ciekawostki </h1>
            <p class='c-text u-mb-xs'>Nasz pracownik Tomasz Mucha, z zamiłowania alpinista, zdobywał drugi co do wysokości szczyt Pamiru<br
                /><strong> Pik Niepodległości (Lenina) - 7134m. npm.</strong></p>
            <p class='c-text'>Firma Mega Star wspierała tę wyprawe.</p>
        </div>
        <div class='p-interesting__grid-container'>
            <img
                class='p-interesting__grid-item p-interesting__grid-item--mobile-hidden'
                src='res/interesting/czarna-gora.jpg'
                data-reveal='left'
            />
            <img class='p-interesting__grid-item p-interesting__grid-item--large' src='res/interesting/kirgizja.jpg' data-reveal />
            <img class='p-interesting__grid-item p-interesting__grid-item--vertical' src='res/interesting/pamir.jpg' data-reveal='left' />
            <img class='p-interesting__grid-item' src='res/interesting/dach.jpg' data-reveal='right' />
            <img class='p-interesting__grid-item' src='res/interesting/taize.jpg' data-reveal='right' />
        </div>
    </div>
</div>
<div class='l-section l-section--dark'>
    <div class='l-container l-grid l-grid--md2'>
        <div class='u-align-center' data-reveal='left'>
            <h1 class='c-heading c-heading--light'>Wypożycz samochód</h1>
            <p class='c-text c-text--light'>Oferujemy wypożyczenie busów 9-osobowych oraz przyczep bagażowych, fachową obsługę i pomoc w
                załatwieniu wszelkich formalności.</p>
        </div>
        <img
            class='l-section__image l-section__image--right u-grid-mobile-first'
            src='res/rent-hand.svg'
            alt='Wypożyczalnia samochodów'
            data-reveal='right'
        />
    </div>
</div>
<div class='l-section'>
    <div class='l-container u-center' data-reveal>
        <h1 class='c-heading'>Puchar świata w Libercu </h1>
        <video width='70%' controls='controls'>
            <source src='res/video/puchar.mp4#t=0.1' type='video/mp4' />
        </video>
    </div>
</div>