.u-mb-xs {
    margin-bottom: 15px;
}

.u-grid-mobile-first {
    @include responsive(order, -1, 0);
}

.u-center {
    text-align: center;
}

.u-align-center {
    align-self: center;
}
